@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200..900&family=Ysabeau+SC:wght@1..1000&display=swap');

body{
    font-family: "Unbounded", sans-serif;
    background-color: #E7E7E9;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    color: #1E1E25;
}

button{
    cursor: pointer;
}


.container{
    
    width: 100%;
    height: fit-content;
    max-width: 1530px;
    display: flex;
    flex-direction: column;
    
    margin: auto;
    justify-content: center;
    
    
    
}

/*Header*/
.header{
    height: 76px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D1D1DE;
}
nav{
    width: 159px;
    height: 38px;
    border: 1px solid none;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav .logo_1{
    width: 51px;
    height: 35px;
    border: 1px solid none;
}
nav .logo_2{
    width: 20px;
    height: 20px;
    border: 1px solid none;
}
nav .logo_3{
    width: 42px;
    height: 38px;
    border: 1px solid none;
}
ul{
    width: 577px;
    height: 14px;
    border: 1px solid none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    font-size: 14px;
    font-weight: 300;
}
li{
    cursor: pointer;
}


.block_1 .row_1 {
    width: 203px;
    height: 36px;
    border: 1px solid none;
    margin-top: 2%;
    margin-bottom: 2%;
}
.block_1 .row_1 img{
    width: 100%;
    
    
}


.block_1 .row_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 3%;
}
.block_1 .row_2 h1{
    margin: 0px;
    font-size: 86px;
}
.block_1 .row_2 button{
    height: 56px;
    width: 280px;
    border-radius: 50px;
    border: 0px;
    background-color: #1F5DFD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
}
.block_1 .row_2 button:hover{
    color: #1E1E25;
    background-color: #9BFD1F;
}

.block_1 .row_2 p{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 20%;
    line-height: 19px;
    margin-right: 17px;

}
.block_1 .row_2 img{
    height: 12px;
    width: 26px;
    border: 1px solid none;
}


.block_1 .row_3{
    max-height: auto;
    
    position: relative;
}
.block_1 .row_3 img{
    border-radius: 50px;
    width: 100%;
    height: 100%;
    bottom: 100px;
}
.block_1 .row_3 .mobile_img{
    border-radius: 50px;
    display: none;
    width: 100%;
    height: auto;
    bottom: 100px;
}
.block_1 .row_3 .button_box{
    top: 84%;
    margin-left: 40px;
    width: 256px;
    height: 46px;
    border: 1px solid none;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.block_1 .row_3 .button_box .absolute_text{
    width: 45%;
    height: 100%;
    border: 3px solid #fff;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.block_1 .icon{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_1 .icon img{
    width: 28px;
    height: 7px;
}


.block_1 .row_4 {
    height: fit-content;
   
    padding: 0px;
    margin-top: 5%;
}
.block_1 .row_4 h2 {
    margin: 0px;
    font-size: 50px;
}

.block_1 .row_5{
    margin-top: 3%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5%;

}
.block_1 .row_5 p{
    margin: 0px;
    width: 750px;
    height: auto;
    
}


/*Адаптив для 1 Block*/
@media only screen and (max-width:1400px){
    
    .block_1 .row_2 h1{
        margin: 0px;
        font-size: 60px;
    }
}

@media only screen and (max-width:1000px){
    .block_1 .row_3 img{
        display: none;
    }

    ul{
        display: none;
    }
    
    .block_1 .row_3 .mobile_img{
        display: block;
        width: 100%;
        height: 100%;
        bottom: 100px;
    }
    .block_1 .row_2 h1{
        margin: 0px;
        font-size: 50px;
    }
    .block_1 .row_2{
        margin: 40px 0px;
        
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
   
}

@media only screen and (max-width:630px){
    
    

    .block_1 .row_2 h1{
        margin: 0px;
        font-size: 30px;
    }
    .block_1 .row_2{
        margin: 40px 0px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .block_1 .row_3 .button_box{
        top: 80%;
        margin-left: 0px;
        margin-left: 20px;
        width: 138px;
        height: 24px;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .block_1 .row_3 .button_box .absolute_text{
        font-size: 12px;
        
    }
    .block_1 .row_4 h2 {
        margin: 0px;
        font-size: 30px;
    }
}






.container_black{
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    max-width: 1530px;
    padding: 20px;
    
    background-color: #1E1E25;
    border-radius: 50px;
    
}

.block_2_row_1 {
   
    display: none;
    flex-direction: column;
    width: 100%;
    
}

.block_2_row_1 .box_1{
    
    padding: 15px;
}

.block_2_row_1 .title{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
}

.block_2_row_1 .title img{
    width: 60px;
    height: 60px;
}

.block_2_row_1 .title h3 {
    font-size: 50px;
    color: #fff;
    margin: 0px;
    padding-left: 40px;
    
}

.block_2_row_1 .box_1 p{
    padding-top: 1%;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}



.block_2 {
    display: flex;
    width: 100%;
    height: 100%;
    
    justify-content: space-between;
}

.column {
    width: 45%;
   
    display: flex;
    flex-direction: column;
    
    padding: 15px;
    gap: 130px;
    
}

.column .box_1{
    min-width: 10%;
    
    height: auto;
    
}
/*flex: 0.3;*/

.column .box_1 .title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column .box_1 .title img{
    width: 85px;
    height: 85px;
}
.column .box_1 .title h3 {
    font-size: 50px;
    color: #fff;
    margin: 0px;
    padding-left: 40px;
    
}

.column .box_1 p{
    padding-top: 5%;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}




.box_blue{
    background-color: #1F5DFD;
    min-width: 100%;
    height: 212px;
    color: #fff;
    border-radius: 40px;
    transition: ease all 0.5s;
}
.box_blue:hover{
    background-color: #9BFD1F;
    color: #1E1E25;
}

.box_blue .box_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    font-size: 20px;
    padding: 40px;
    transition: ease all 0.5s;
}


.box_blue .box_flex img{
    width: 22px;
    height: 22px;
    cursor: pointer;
}



.column .gallery_image{
    min-width: 100%;
    height: auto;
    
    border-radius: 70px;
    
}





@media only screen and (max-width:1100px){
    .column {
        gap: 80px;
    }
    .column .box_1{
        display: none;
    }
    .block_2_row_1{
        display: flex;
    }

}

@media only screen and (max-width:700px){

    .container_black{
        
        border-radius: 20px;
        
    }

    .block_2 {
        display: flex;
        
    }
    .column {
        width: 40%;
        gap: 20px;
    } 

    .box_blue{ 
        height: auto;
        border-radius: 15px;
    }
    
    .box_blue .box_flex{
        font-size: 12px;
        padding: 10px;
    }
    
    .box_blue .box_flex img{
        width: 10px;
        height: 10px;
    }
    .column .gallery_image{
        
        border-radius: 18px;
        
    }



    .block_2_row_1 .box_1{
        
        padding: 10px;
    }
    
    

    .block_2_row_1 .title img{
        width: 50px;
        height: 50px;
    }
    
    .block_2_row_1 .title h3 {
        font-size: 22px;
        
    }
    
    .block_2_row_1 .box_1 p{
        padding-top: 1%;
        font-size: 14px;
        color: #fff;
        font-weight: 300;
    }
}






.block_3{
    margin-top: 8%;
    width: 100%;
    height: auto;
    
}

.block_3 .title{
    max-width: 503px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 40px;
}

.block_3 .static_button{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid #9090A6;
}


.block_3 .static_button button{
    font-family: "Unbounded", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding: 16px 28px;
    border-radius: 40px;
    border: 1px solid #1E1E25;
    transition: all ease 0.5s;
}

.block_3 .static_button button:hover{
    background-color: #1E1E25;
    
    color: #fff;
}

h3{ 
    margin: 0px;
    line-height: 50px;
    font-weight: 500;
    font-size: 50px;
    padding-left: 40px;
}

.block_3 .description{
    padding-top: 50px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.description li{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    cursor:default;
}

@media only screen and (max-width: 700px){
    .block_3 .static_button{
        display: flex;
        flex-direction: column;
        padding: 0px 10%;
        padding-bottom: 10%;
    }

    .block_3 .description{
        padding-top: 10%;
        
    }
    h3 {
        font-size: 22px;
        
    }

    .title img {
        width: 50px;
        height: 50px;
    }
    
}


.block_4{
    
    margin-top: 8%;
    width: 100%;
    height: auto;
    
}

.block_4 .title{
    max-width: 503px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 40px;
}

.block_4 .static_button{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid #9090A6;
}


.block_4 .static_button button{
    font-family: "Unbounded", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding: 16px 28px;
    border-radius: 40px;
    border: 1px solid #1E1E25;
    transition: all ease 0.5s;
}

.block_4 .static_button button:hover{
    background-color: #1E1E25;
    
    color: #fff;
}

h3{ 
    margin: 0px;
    line-height: 50px;
    font-weight: 500;
    font-size: 50px;
    padding-left: 40px;
}

.block_4 .table {
    
    
    width: 100%;
    height: auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.block_4 .table .row{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #D1D1DE;
}
.block_4 .table .row .h5_1{
    margin-left: 256px;
}
.block_4 .table .row .h5_2{
    margin-left: 263px;
}
.block_4 .table .row .h5_3{
    margin-left: 257px;
}
.block_4 .table .row .h5_4{
    margin-left: 258px;
}
.block_4 .table .row .h5_5{
    margin-left: 257px;
}
.block_4 .table .row .h5_6{
    margin-left: 166px;
}
.block_4 .table .row .h5_7{
    margin-left: 164px;
}
.block_4 .table .row .h5_8{
    margin-left: 258px;
}
.block_4 .table .row h5{
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}
.block_4 .table .row p{
    color: #9090A6;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}


@media only screen and (max-width: 700px){
    .block_4 .static_button{
        display: flex;
        flex-direction: column;
        padding: 0px 10%;
        padding-bottom: 10%;
    }
    .block_4 .table{
        padding-top: 10%;
    }
    
    h3 {
        font-size: 22px;
        
    }

    .title img {
        width: 50px;
        height: 50px;
    }


    

}

@media only screen and (max-width: 800px){
    .block_4 .table .row{
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
    }
    .block_4 .table .row .h5_1{
        margin: 0px;
        margin-bottom: 10px;
    }
    .block_4 .table .row .h5_2{
        margin: 0px;
        margin-bottom: 10px;
    }
    .block_4 .table .row .h5_3{
        margin: 0px;
        margin-bottom: 10px;
    }
    .block_4 .table .row .h5_4{
        margin: 0px;
        margin-bottom: 10px;
    }
    .block_4 .table .row .h5_5{
        margin: 0px;
        margin-bottom: 10px;
    }
    .block_4 .table .row .h5_6{
        margin: 0px;
        margin-bottom: 10px;
    }
    .block_4 .table .row .h5_7{
        margin: 0px;
        margin-bottom: 10px;
    }
    .block_4 .table .row .h5_8{
        margin: 0px;
        margin-bottom: 10px;
    }
    .block_4 .table .row h5{
        margin: 0px;
        
    }
}

.block_5{
    margin-top: 60px;
    width: 100%;
    height: auto;
    border: 2px solid #1F5DFD;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1F5DFD;
    
}

.block_5 h2{
    padding-top: 2%;
    font-family: "Unbounded", sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.block_5 p {
    width: 80%;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 2%;
}

.line_top{
    width: 100%;
    max-width: 1570px;
    height: 150px;
    background-color: #fff;    
    display: flex;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border-radius: 50px 50px 0px 0px;
    margin-top: 100px;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  
  height: auto;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(-39.5%); }
  to { transform: translateX(0); }
}

/*Отключение анимации в Safari*/



@media only screen and (max-width: 700px){
    .line_top{
        
        height: 90px;
        width: 100%;
        
    }
    .content img{
        height: 80px;
    }
}

.container_black_2{
    
    width: 100%;
    max-width: 1570px;
    
    height: auto;
    background-color: #1E1E25;
    border-radius: 0px 0px 50px 50px;
    
}

.block_6{
    width: 100%;
    
    margin: auto;
    margin-top: 8%;
    padding-bottom: 50px;
    
    border-bottom: 1px solid #52525E;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
    
    
    /*display: flex;
    flex-direction: row;*/
}

.block_6 .column_box {
    margin: auto;
    height: 460px;
    max-width: 320px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Unbounded", sans-serif;
    background-color: #383B3E;
    border: 1px solid #383B3E;
    border-radius: 40px;
    transition: ease all 0.5s;
    
}
.block_6 .column_box:hover{
    border: 1px solid #fff;
}

.block_6 .column_box .box_top{
    
    height: auto;
    margin: 30px 30px;  
}

.block_6 .column_box .box_top h6{
    margin: 0px;
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    font-family: 500;
    line-height: 24px;
}
.block_6 .column_box .box_top .text{
    padding-top: 15px;
    margin: 0px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    font-weight: 300;
}
.block_6 .column_box .box_top .text .hesh{
    padding-right: 8px;
}
.block_6 .column_box .box_top .text p{
    margin: 0px;
}
.block_6 .column_box .box_bottom{
    
    height: 100px;
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.block_6 .column_box .box_bottom p{
    margin: 0px;
    font-size: 25px;
    font-weight: 700;
    
    
}
.block_6 .column_box .box_bottom button{
    font-family: "Unbounded", sans-serif;
    margin: 0px;
    font-size: 25px;
    font-weight: 700;
    height: 55px;
    background-color: #1F5DFD;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border-radius: 60px;
    font-weight: 500;
    border: 0px;
    transition: all ease 0.5s;
}



.block_6 .column_box .box_bottom button:hover{
    background-color: #9BFD1F;
    color: #1E1E25;
}


.block_6 .column_box_right {
    margin: auto;
    height: 460px;
    max-width: 320px;
    
    display: flex;
    flex-direction: column;
    font-family: "Unbounded", sans-serif;
    
}
.block_6 .column_box_right .title{
    width: 100%;
    
    display: flex;
    gap: 20px;
    flex-direction: row;
    font-family: "Unbounded", sans-serif;
    
}
.block_6 .column_box_right .title h5{
    margin: 0px;
    font-size: 30px;
    font-weight: 500;
    
}

.block_6 .column_box_right ul{
    width: 100%;
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    
    
}
.block_6 .column_box_right ul li{
    font-size: 16px;
    font-weight: 300;
     
}


.block_7{
    padding-top: 50px;
    width: 100%;
    
    height: fit-content;
}


.block_7 .title{
    padding-left: 10px;
    max-width: 503px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 40px;
    ;
}

.block_7 .title h3{ 
    margin: 0px;
    line-height: 50px;
    font-weight: 500;
    font-size: 50px;
    padding-left: 40px;
    color: #fff;
}



.block_7 .box {
    
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;

}



.block_7 .box .column_1{
    
    width: 40%;
    height: auto;

}
.block_7 .box .column_1 img{
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}
.block_7 .box .column_1 p{
    width: 100%;
    color: #fff;
    margin: 0px;
    text-align: end;
    cursor: pointer;
    transition: ease all 0.5s;
}
.block_7 .box .column_1 p:hover{
    
    color: #1F5DFD;
    
    
}

.block_7 .box .column_2{
    
    width: 50%;
    height: auto;
    color: #fff;
    padding-bottom: 50px;
}

.block_7 .box .column_2 h5{
    margin: 0px;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 10%;
    
}
.block_7 .box .column_2 p{
    padding-top: 20px;
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
    
    
}

.block_7 .box .column_2 .analysis_box{
    width: 100%;
    height: auto;
    
    margin-top: 10%;
}
.block_7 .box .column_2 .analysis_box .text_1 h3{
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-size: 48px;
}

.block_7 .box .column_2 .analysis_box .text_1 .adaptive_h3{
    display: none;
}

.block_7 .box .column_2 .analysis_box .text_1 p{
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    
}
.block_7 .box .column_2 .analysis_box .text_2 {
    display: flex;
    flex-direction: row;
    padding-bottom: 70px;
    padding-top: 70px;
}
.block_7 .box .column_2 .analysis_box .text_2 .text_p{
    
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 10px;
}

.block_7 .box .column_2 .analysis_box .text_2 h3{
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-size: 48px;
}
.block_7 .box .column_2 .analysis_box .text_2 p{
    
    justify-content: center;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
}
@media only screen and (max-width: 900px){
    .block_7 .box .column_2 .analysis_box .text_2 h3{
        
        font-size: 26px;
    }

    .block_7 .box .column_2 .analysis_box .text_2 {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .block_7 .box .column_2 .analysis_box .text_1 h3{
        display: none;
    }
    .block_7 .box .column_2 .analysis_box .text_1 .adaptive_h3{
        margin: 0px;
        padding: 0px;
        text-transform: uppercase;
        font-size: 26px;
    }
    .block_7 .box .column_2 .analysis_box .text_1 p{
        margin: 0px;
        margin-top: 5px;
        padding: 0px;
    }
}
@media only screen and (max-width: 700px){
    
    .block_7 .title h3 {
        font-size: 30px;
        
    }
    .block_3 .title h3 {
        font-size: 30px;
        
    }
    .block_4 .title h3 {
        font-size: 30px;
        
    }
    .box_1 .title h3 {
        font-size: 30px;
        
    }

    .title img {
        
        width: 50px;
        height: 50px;
    }

    .block_7 .box {
        
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 20px;
    
    }  
    .block_7 .box .column_1{
        
        width: 100%;
        height: auto;
    
    }
    .block_7 .box .column_1 p{
        display: none;
    }
    .block_7 .box .column_2{
        
        width: 100%;
        height: auto;
    
    }


}

.block_8{
    width: 100%;
    
    padding-top: 80px;
    height: fit-content;
}

.block_8 .title{
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 40px;
    ;
}

.block_8 .title h3{ 
    margin: 0px;
    line-height: 50px;
    font-weight: 500;
    font-size: 50px;
    padding-left: 40px;
    
}

.block_8 .box_partner {
    
    width: 100%;
    
    height: auto-fit;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
    gap:30px;
}

.block_8 .box_partner img{
    margin: auto;
    width: 230px;
    height: 128px;
}

@media only screen and (max-width: 700px){

    .block_8 .title h3 {
        font-size: 28px;
        
    }
    .title img {
        width: 70px;
        height: 70px;
    }

    .block_8 .box_partner {
        grid-template-columns: repeat(auto-fit, minmax(130px,1fr));
        gap:20px;
    }
    .block_8 .box_partner img{
        margin: auto;
        width: 130px;
        height: 80px;
    }
}

.footer{
    margin-top: 80px;
    width: 100%;
    background-color: #1F5DFD;
    border-radius: 50px;
    height: 413px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.footer .box {
    
    width: 90%;
    height: 80%;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer .title{
    
    width: 100%;
    color: #fff;
}
.footer .title p{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: 300;
}
.footer .title h3{
    margin: 0px;
    padding: 0px;
    font-size: 50px;
}
.footer .box_bottom{
    
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.image .row{
    max-height: auto;
    position: relative;
    width: 203px;
    height: auto;
    padding-bottom: 30px;
}
.image .row img{
    border-radius: 50px;
    width: 100%;
    height: 100%;
    bottom: 100px;
}

.footer .box_bottom p{
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-size: 18px;
}
.footer .box_bottom a{
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-size: 18px;
    transition: ease all 0.5s;
}
.footer .box_bottom a:hover{
    color: #9BFD1F;
}


@media only screen and (max-width: 700px){
    .footer{
        
        padding: 18px 40px;
        
    }
    .footer .title h3{
        
        font-size: 20px;
    }

    .footer .box_bottom{
        border: 1px solid red;
        width: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 20px;
    }
}

